<div>
  <h3>ReactiveFormModule</h3>
  <p>
    How to make simple static form by
    <span class="label label-default">[formGroup]</span>,
    <span class="label label-default">formControlName</span>,
    <span class="label label-default">formGroupName</span>,
    <span class="label label-default">formArrayName</span>
  </p>
</div>

<form [formGroup]="form" (submit)="submit(form.value)">
  <div class="form-group">
    <label>First and last name:</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="text" class="form-control" formControlName="email">
  </div>

  <div class="form-group">
    <label>Issue:</label>
    <select class="form-control" formControlName="issue">
      <option value="">select title</option>
      <option value="0">Issue</option>
      <option value="1">Bug</option>
    </select>
  </div>

  <label>Agreements</label>
  <div class="form-group" formGroupName="agreements">
    <label class="checkbox-inline">
      <input type="checkbox" formControlName="newsletter"> newsletter,
    </label>

    <label class="checkbox-inline">
      <input type="checkbox" formControlName="rules"> rules
    </label>
  </div>

  <div formArrayName="steps">
    <div class="form-group" *ngFor="let step of form.get('steps').controls; let i = index">
      <label>Step {{ i + 1 }}</label>
      <input type="text" class="form-control step" [formControlName]="i">
    </div>
  </div>

  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary submit">Send</button>
    <button class="btn btn-primary set-values" (click)="setValuesForm()">Set form values</button>
    <button class="btn btn-primary set-name-email-values" (click)="patchValue()">Set name and email values</button>
  </div>
</form>